<section class="service">

    <h1>Servicios</h1>

    <p>
        En El Rancho ofrecemos diferentes experiencias para que disfrutes de un
        ambiente tranquilo rodeado de naturaleza.
    </p>

    <ul class="service__list">

        <li class="service__item">
            <h2>Hospedaje</h2>
            <p>Disfruta de una estadía cómoda en nuestro glamping rodeado de naturaleza.</p>
        </li>

        <li class="service__item">
            <h2>Restaurante</h2>
            <p>Ofrecemos comida típica y platos preparados con ingredientes frescos.</p>
        </li>

        <li class="service__item">
            <h2>Cine al aire libre</h2>
            <p>Vive una noche diferente disfrutando de películas bajo las estrellas.</p>
        </li>

    </ul>

</section>  