<nav class="navbar">  <!-- barra de navegacion y con esa clase para despues CSS-->

    <div class="navbar__brand"> <!--Clase marca logo y nombre-->

        <img
            src="/images/logo.png"
            alt="Logo El Rancho"
            class="navbar__logo"
        >

        <span class="navbar__title"> <!--Clase titulo-->
            El Rancho Hospedaje
        </span>

    </div>

    <ul class="navbar__menu"> <!--Clase menú-->

        <li><a href="/" data-navigo>Inicio</a></li>

        <li><a href="#servicios">Servicios</a></li>

        <li><a href="#galeria">Galería</a></li>

        <li><a href="#nosotros">Nosotros</a></li>

        <li><a href="/contacto" data-navigo>Contacto</a></li>

    </ul>

    <!--Clase boton-->
    <a 
        href="#contacto"
        class="navbar__button"  
    >
        Reservar
    </a>

</nav>