<section class="contact">
    <h1>Contáctanos</h1>

    <p>
        Si tienes alguna duda o deseas más información, puedes comunicarte con nosotros
        utilizando los siguientes datos:
    </p>

    <ul class="contact__list">
        <li><strong>Correo:</strong> elranchohospedaje1@gmail.com</li>
        <li><strong>Teléfono:</strong> +57 305 2231173</li>
        <li><strong>Ciudad:</strong> Corregimiento La Paz, Cali - Colombia</li>
    </ul>

    <button id="btnContact">Enviar mensaje</button>
</section>