.footer {
    background-color: #223723;
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}

.footer__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color:white;

}

.footer__content p {
    margin: 0.5rem 0;
    color:white;
}

.footer__copyright {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color:white;
}