.home {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    text-align: center;

    
}

.about__image {
    display: flex;
    justify-content: center;
}

.about__image img {
    width: 600px;
    max-width: 100%;
    height: auto;
}